importFrom("stats", "coef", "na.omit", "rnorm", "runif", "model.frame", "predict")
importFrom("utils", "as.roman")
importFrom("grDevices", "terrain.colors")
importFrom("FrF2", "catlg", "nfac", "nruns", "FrF2")
importFrom("DoE.base", "generators")
importFrom("graphics", "plot.new", "plot")

import(ggplot2, png)


export("paretoPlot")
export("tradeOffTable")
export("popcorn")
export("grocery")
export("manufacture")
export("contourPlot")
export("tradeoff")

